Gmail_to_JSON.json
{
  "name": "Gmail to FastAPI Case Intake Automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "q": "in:inbox -label:compensai_processed"
        }
      },
      "id": "1b3680a3-b438-4254-8421-0304eca29e68",
      "name": "New Email",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        256,
        400
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "fYjSANXk4oOeobsP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {}
      },
      "id": "c20ede0a-a6d2-4423-879e-ddad14bca5e1",
      "name": "Get Full Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        480,
        400
      ],
      "webhookId": "7522c4ca-380a-4e93-8620-bd22c674bbf7",
      "credentials": {
        "gmailOAuth2": {
          "id": "fYjSANXk4oOeobsP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node: output EXACT backend intake shape (simple strings)\n\nconst item = $input.item.json;\n\n// --- helpers ---\nfunction headerFromObj(headers, wantedKey) {\n  if (!headers || typeof headers !== \"object\") return \"\";\n  const target = wantedKey.toLowerCase();\n  const key = Object.keys(headers).find(k => k.toLowerCase() === target);\n  return key ? String(headers[key] ?? \"\") : \"\";\n}\n\nfunction firstEmail(s) {\n  if (!s) return \"\";\n  const m = String(s).match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/i);\n  return m ? m[0] : \"\";\n}\n\n// --- read simplified n8n Gmail output (like your screenshots) ---\nconst headers = item.headers || {};\nconst text = String(item.text || \"\");\nconst html = String(item.html || \"\");\nconst snippet = String(item.snippet || \"\");\n\n// These usually exist as keys in the simplified headers object\nconst fromRaw = headerFromObj(headers, \"from\");\nconst toRaw = headerFromObj(headers, \"to\");\nconst subject = headerFromObj(headers, \"subject\");\n\n// Convert to plain email strings\nconst from_email = firstEmail(fromRaw);\nconst to_email = firstEmail(toRaw);\n\n// Body text: prefer extracted text, fallback to snippet, then html\nconst body_text =\n  text.trim() ? text :\n  snippet.trim() ? snippet :\n  html.trim() ? html :\n  \"\";\n\n// --- output EXACT shape you asked for ---\nreturn {\n  json: {\n    source: \"gmail\",\n    message_id: item.id || null,\n    thread_id: item.threadId || null,\n    from_email,\n    to_email,\n    subject: subject || \"\",\n    body_text,\n  },\n};"
      },
      "id": "5b07a470-9b0e-4759-82a2-541a8aeea785",
      "name": "Convert to Backend Intake JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://secondarily-proinvestment-jocelyn.ngrok-free.dev/cases/intake",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-CompensAI-Webhook-Secret",
              "value": "hackai"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "4bd76856-3dcb-4fc3-944e-e5f473dc495e",
      "name": "POST /cases/intake",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        928,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.id }}",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            },
            {
              "id": "id-2",
              "leftValue": "={{ $json.status }}",
              "rightValue": "awaiting_approval",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "9361bd05-73a9-486c-8ef6-421076cebf83",
      "name": "Did backend accept?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1152,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "POST /cases/intake": {
      "main": [
        [
          {
            "node": "Did backend accept?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Email": {
      "main": [
        [
          {
            "node": "Get Full Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Full Email": {
      "main": [
        [
          {
            "node": "Convert to Backend Intake JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Backend Intake JSON": {
      "main": [
        [
          {
            "node": "POST /cases/intake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Did backend accept?": {
      "main": [
        [],
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "5c0016d1-6652-4ac2-b08e-a41d818f5f73",
  "meta": {
    "instanceId": "84090d4792f72ca3d07607ad29f5274747bc3d701cf6a0d8483ca0b026889cd9"
  },
  "id": "qskm2x99o07jy1IT",
  "tags": []
}