backend/Draft_to_Email_Agent.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "fd65c308-3c31-430a-b0c6-f7c8740bd5aa",
      "name": "Cron - Poll Drafts",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1200,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://secondarily-proinvestment-jocelyn.ngrok-free.dev/cases/email-drafts/pending",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-CompensAI-Webhook-Secret",
              "value": "hackai"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "f226363d-9bd3-4914-b5e3-f8706da8a5a2",
      "name": "HTTP - Fetch Pending Drafts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1424,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json }}",
              "operator": {
                "type": "object",
                "operation": "exists"
              }
            },
            {
              "id": "id-2",
              "leftValue": "={{ Array.isArray($json) ? $json.length : Object.keys($json).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "56cf8d27-de9b-4729-88a2-3ae31d0e7dc4",
      "name": "Filter - Stop If Empty",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1680,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.to }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "054e3bca-c0ac-4e56-8940-da067b1dd64a",
      "name": "IF - Validate Recipient",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1872,
        416
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "emailType": "text",
        "message": "={{ $json.body_text + '\\n\\n— Sent automatically by n8n' }}",
        "options": {}
      },
      "id": "1ed93abc-3a90-4acf-a0a8-77fbb9355822",
      "name": "Gmail - Send Draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2288,
        320
      ],
      "webhookId": "cc9db6a9-ed69-4ebe-bd71-345028c2fc6f",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "fYjSANXk4oOeobsP",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "7de43710-ca6f-46ab-8552-d443d7d609a4",
      "name": "Aggregate - All Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3200,
        736
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "draft_id",
              "value": "={{ $json.draft_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "254535f9-728b-4566-9975-6916c1c18bba",
      "name": "Set - Track Failure",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2928,
        512
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "status",
              "value": "sent",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "draft_id",
              "value": "={{ $('Gmail - Send Draft').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cd637a97-f628-4c41-82d6-9885bcf28c23",
      "name": "Set - Track Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2704,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://secondarily-proinvestment-jocelyn.ngrok-free.dev/cases/email-drafts/{{$json.id || $json.id}}/mark-failed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"error\": \"{{ $json.error }}\"}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "6c897ebb-377a-4ed5-9a03-a5372b316f78",
      "name": "HTTP - Mark Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2752,
        512
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "error",
              "value": "={{ $json.error.message }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "draft_id",
              "value": "={{ $('Gmail - Send Draft').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b89933c5-ab47-4164-96df-a88d3eabbfe0",
      "name": "Set - Gmail Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2544,
        416
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://secondarily-proinvestment-jocelyn.ngrok-free.dev/cases/email-drafts/{{$('Set Keep Case_Id').item.json.case_id}}/mark-sent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"status\": \"sent\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "f527bdb5-e6e4-4e87-831a-822c5e87ecb2",
      "name": "HTTP - Mark Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2512,
        144
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "error",
              "value": "missing recipient",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "draft_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9b423542-0ee9-434e-ab87-4b7e89da73be",
      "name": "Set - Missing Recipient Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2544,
        608
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "56c54ba0-3dab-4b11-acf0-13f9cac0bd28",
              "name": "case_id",
              "value": "={{$json.case_id}}",
              "type": "string"
            },
            {
              "id": "8e689929-b895-4981-b08a-78491a6ac58e",
              "name": "to",
              "value": "={{$json.to}}",
              "type": "string"
            },
            {
              "id": "540df084-7188-445e-8bd9-c1122ce52eb1",
              "name": "subject",
              "value": "={{$json.subject}}",
              "type": "string"
            },
            {
              "id": "673a939f-f50a-40f6-b611-8e5816b62a4c",
              "name": "body_text",
              "value": "={{$json.body_text}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2080,
        320
      ],
      "id": "fdc3d68b-6a9c-4ee1-9c10-fd9503d336f1",
      "name": "Set Keep Case_Id"
    }
  ],
  "pinData": {},
  "connections": {
    "Cron - Poll Drafts": {
      "main": [
        [
          {
            "node": "HTTP - Fetch Pending Drafts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Fetch Pending Drafts": {
      "main": [
        [
          {
            "node": "Filter - Stop If Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - Stop If Empty": {
      "main": [
        [
          {
            "node": "IF - Validate Recipient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Validate Recipient": {
      "main": [
        [
          {
            "node": "Set Keep Case_Id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set - Missing Recipient Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Send Draft": {
      "main": [
        [
          {
            "node": "HTTP - Mark Sent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set - Gmail Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate - All Results": {
      "main": [
        []
      ]
    },
    "Set - Track Failure": {
      "main": [
        [
          {
            "node": "Aggregate - All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Track Success": {
      "main": [
        [
          {
            "node": "Aggregate - All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Mark Failed": {
      "main": [
        [
          {
            "node": "Set - Track Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Gmail Error": {
      "main": [
        [
          {
            "node": "HTTP - Mark Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Mark Sent": {
      "main": [
        [
          {
            "node": "Set - Track Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Missing Recipient Error": {
      "main": [
        [
          {
            "node": "HTTP - Mark Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Keep Case_Id": {
      "main": [
        [
          {
            "node": "Gmail - Send Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "26c9ddd5-126c-4e70-a203-37d677f79081",
  "meta": {
    "instanceId": "84090d4792f72ca3d07607ad29f5274747bc3d701cf6a0d8483ca0b026889cd9"
  },
  "id": "fEbiHGwwCyNX9n62",
  "tags": []
}